body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.about {
  padding-top: 100px;

  &-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0.5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-gradient {
  background: $primary-gradient !important;
}

.hover-shadow {
  transition: 0.2s ease;

  &:hover {
    box-shadow: 0 8px 10px rgba(33, 33, 33, 0.2) !important;
  }
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.top-100 {
  top: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.border-primary {
  border-color: $primary-color !important;
}

/* form control */
.form-control {
  height: 50px;
  border: 1px solid $primary-color;
  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: $primary-color;
  }
}

textarea.form-control {
  height: 100px;
}

.badge-primary {
  background: $primary-color;
}

/* nav-tab */
.nav-tabs {
  margin-bottom: 20px;
  .nav-item {
    margin-right: 10px;

    .nav-link {
      border: 0;
      padding: 10px 0;
      color: $text-color;
      font-weight: 500;
      &.active {
        color: $primary-color;
      }
    }
  }
}
