{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Data.about.about.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        {{ with site.Data.about.about.office }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ end }}
      </div>

      <div class="col-lg-6 col-sm-6">
        <iframe width="100%" height="315"
src="https://www.youtube.com/embed/pdTBG929mgs">
</iframe>
      </div>
     
    </div>
  </div>
</section>
{{ end }}

{{ partial "cta.html" . }}

{{ end }}