{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Data.contact.contact.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        {{ with site.Data.contact.contact.office }}
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ end }}
      </div>
      <div class="col-lg-6 col-sm-6">
        
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ if site.Data.contact.map.enable }}
<section class="section pt-0">
  <div class="container">
    <div id="map_canvas" data-latitude="{{ with site.Params.mapLatitude }} {{ . }} {{ end }}"
      data-longitude="{{ with site.Params.mapLongitude }} {{ . }} {{ end }}"
      data-marker="{{ with site.Params.mapMarker }} {{ . | absURL }} {{ end }}" data-marker-name="{{ site.Title }}"></div>
  </div>
</section>
{{ end }}

{{ partial "cta.html" . }}

{{ end }}